my_work/ga_rates/data/
my_work/ga_rates/ga_rates_files/
my_work/ga_rates/pdf
h6_5d_project/dashboard (1).html
h6_5d_project/dashboard.html
h6_5d_project/datasets/
h6_5d_project/rebels.keras
h6_5d_project/my_model.h5
h6_7a_version_control-main/
# no need to backup the examples
example_code/*

*.pptx
*.pdf 
*.png 
*.webarchive
*.html
*.csv
*.geojson
*.tar
*.zip
*.xlsx

# Ignore all .pkl files
*.pkl

# Ignore all .keras files
*.keras

# But include these specific .keras files
# eg: !important.keras

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
pdm.lock
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac OS
.DS_Storeh6_3b_advanced_qgis_mapping_python/
h6_3c_interactive_plots_travel/h6_3c_interactive_plots_travel/example_code/
h6_3d_facility_location_problems/h6_3d_facility_location_problems/example_code/
h6_5c_sentiment_analysis/5c_sentiment_analysis/aclImdb_v1/

.DS_Store
**/.DS_Store
**/my_datasets/

h6_3b_advanced_qgis_mapping_python/
h6_7a_version_control-main
